* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #222;
  color: #eee;
  /* cursor: none; */
}
section {
  padding: 8vw 2vw;
}
.cursor {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  z-index: 5;
  animation: cursor 5s infinite;
  mix-blend-mode: difference;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  padding: 22vw 2vw;
  position: relative;
}
.header h1 {
  font-family: 'Rubik Beastly', system-ui;
  text-transform: uppercase;
  font-size: 10vw;
}
.header span:hover {
  animation: shakeLetter 0.5s infinite;
  display: inline-block;
}
.showAnimEl {
  padding: 1.3vw 3vw;
  border-radius: 2vw;
  border: 0.2vw solid #4cc9f0;
  background-color: #222;
  cursor: pointer;
  font-size: 1.6vw;
  color: #4cc9f0;
}
.popup {
  width: 10vw;
  height: 6vw;
  position: relative;
}
.popupEl {
  position: absolute;
  top: 6vw;
  right: 1vw;
  animation: popupEl 1.5s ease forwards;
}

.flipCard {
  width: 23vw;
  height: 23vw;
  perspective: 1000px;
  cursor: pointer;
}
.flipCardWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in;
}
.flipCard:hover .flipCardWrapper {
  transform: rotateY(-180deg);
}
.flip {
  transform: rotateY(-180deg);
}
.flipCardFront,
.flipCardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2vw;
}
.flipCardFront {
  background: radial-gradient(#404040, #2e2e2e);
  box-shadow: 0 0.5vw 0.6vw 0.6vw #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
.flipCardBack {
  transform: rotateY(-180deg);
}
.flipCardBack.blue {
  background: radial-gradient(#62c9e9, #4cc9f0);
  box-shadow: 0 0.5vw 2vw 0.6vw #4cc9f0;
}
.flipCardBack.purple {
  background: radial-gradient(#f270fe, #f038ff);
  box-shadow: 0 0.5vw 2vw 0.6vw #f038ff;
}
.flipCardBack.green {
  background: radial-gradient(#c1e08c, #b9e769);
  box-shadow: 0 0.5vw 2vw 0.6vw #b9e769;
}
.flipCardBack.gold {
  background: radial-gradient(#fefb9e, #e7df69);
  box-shadow: 0 0.5vw 2vw 0.6vw #e7df69;
}
.flipCards {
  display: flex;
  justify-content: space-between;
}

.progressBarSection {
  display: flex;
  justify-content: space-between;
}

.progressBarButton {
  width: 8vw;
  height: 4vw;
  border-radius: 2vw;
  border: 0.2vw solid #4cc9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  color: #4cc9f0;
  background-color: transparent;
  cursor: pointer;
}
.progressBarButton:hover,
.showAnimEl:hover {
  color: #eee;
  background: radial-gradient(#62c9e9, #4cc9f0);
  box-shadow: 0 0.1vw 1vw 0.3vw #4cc9f0;
}
.progressBar {
  background: radial-gradient(#404040, #2e2e2e);
  border-radius: 2vw;
  width: 86vw;
  height: 4vw;
  position: relative;
}
.progressBarLine {
  background: radial-gradient(#62c9e9, #4cc9f0);
  box-shadow: 0 0.1vw 1vw 0.3vw #4cc9f0;
  height: 100%;
  border-radius: 2vw;
  opacity: 0;
}
.progressBarNumber {
  position: absolute;
  font-size: 1.6vw;
  top: 1.2vw;
  right: 2vw;
}

.drawStar svg {
  position: fixed;
  top: 1vw;
  right: 1vw;
}

.showRandomImage,
.showRandomText {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  background: radial-gradient(#404040, #2e2e2e);
  box-shadow: 0 0.5vw 0.6vw 0.6vw #1e1e1e;
  border-radius: 2vw;
  padding: 2vw;
}
.showRandomImage img {
  width: 100%;
}
.randomImgButton,
.randomTextButton {
  padding: 1vw 2vw;
  border: 0.2vw solid #4cc9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  color: #4cc9f0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 2vw;
}
.randomImgButton:hover,
.randomTextButton:hover {
  color: #eee;
  background: radial-gradient(#62c9e9, #4cc9f0);
  box-shadow: 0 0.1vw 1vw 0.3vw #4cc9f0;
}
.random {
  display: flex;
  gap: 2vw;
}
.randomText {
  font-size: 1.6vw;
  text-transform: uppercase;
  margin-top: 4vw;
}
.blue {
  color: #4cc9f0;
}
.purple {
  color: #f038ff;
}
.green {
  color: #b9e769;
}
.gold {
  color: #e7df69;
}

.changeBlick {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative;
}
.blick {
  width: 20vw;
  height: 20vw;
  position: relative;
}
.blickImg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  border-radius: 2vw;
  opacity: 0;
}
.blickImg0 {
  background-image: url('../images/blick/0.jpg');
  opacity: 1;
}
.blickImg1 {
  background-image: url('../images/blick/1.jpg');
}
.blickImg2 {
  background-image: url('../images/blick/2.jpg');
}
.blickImg3 {
  background-image: url('../images/blick/3.jpg');
}
.coords {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: 1.6vw;
}

.eyesAndParallax {
  display: flex;
  justify-content: space-between;
}
.eyes,
.parallax {
  width: 48%;
  background: radial-gradient(#404040, #2e2e2e);
  box-shadow: 0 0.5vw 0.6vw 0.6vw #1e1e1e;
  border-radius: 2vw;
  padding: 1.2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  position: relative;
  margin-top: 80vh;
}
.eye {
  width: 4vw;
  height: 4vw;
  border: 0.4vw solid #777;
  border-radius: 70% 0 / 70%;
  transform: rotate(45deg);
  position: relative;
}
.dot {
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 100%;
  background-color: #777;
  position: absolute;
  top: 8%;
  left: 40%;
  transform-origin: 50% 125%;
}
.circle {
  border-radius: 100%;
  position: absolute;
  background-image: url('https://setka.design/images/web/sphere.png');
  background-color: #000;
  background-size: 105%;
  background-position: center;
  filter: grayscale(100%);
}
.circle:nth-of-type(1) {
  width: 10vw;
  height: 10vw;
  top: 70%;
  left: 75%;
}
.circle:nth-of-type(2) {
  width: 20vw;
  height: 20vw;
  top: 10%;
  left: 40%;
}
.circle:nth-of-type(3) {
  width: 3vw;
  height: 3vw;
  top: 3%;
  left: 90%;
}
.circle:nth-of-type(4) {
  width: 4vw;
  height: 4vw;
  top: 35%;
  left: 80%;
}
.circle:nth-of-type(5) {
  width: 6vw;
  height: 6vw;
  top: 15%;
  left: 5%;
}
.circle:nth-of-type(6) {
  width: 10vw;
  height: 10vw;
  top: 5%;
  left: 30%;
}
.circle:nth-of-type(7) {
  width: 2vw;
  height: 2vw;
  top: 80%;
  left: 10%;
}
.circle:nth-of-type(8) {
  width: 8vw;
  height: 8vw;
  top: 40%;
  left: 20%;
}

.sliderContainer {
  position: sticky;
  top: 5vw;
  left: 5vw;
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  z-index: 3;
}
.slider {
  width: 100%;
  height: 100%;
  display: flex;
  filter: saturate(0) brightness(1.5);
}
.slider img {
  width: 100%;
  flex-shrink: 0;
}
